.navbar{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    width: 100%;
    justify-content: center;
}

/* .link:hover{
    background-color: #C8DCEB;
} */